MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=dj
MYSQL_PASSWORD=greatestdj
MYSQL_DATABASE=launchpadbay
MYSQL_ROOT_PASSWORD=devpassword

DATABASE_URL="mysql://root:devpassword@localhost:3307/launchpadbay"
