MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=dj
MYSQL_PASSWORD=greatestdj
MYSQL_DATABASE=launchpadbay
MYSQL_ROOT_PASSWORD=devpassword
JWT_SECRET=longrandomsecret

DATABASE_URL="mysql://root:devpassword@localhost:3307/launchpadbay"

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/api/auth/github/callback
FRONTEND_URL=http://localhost:8080
